<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/main.min.css">
  <script defer src="assets/libs/choices.min.js"></script>
  <script defer src="assets/js/app.js"></script>
</head>

<body>
  <main style="background: #F8F8FA; margin-left: 20px;">
    <section class="modal">
      <div class="container-modal">
        <div class="modal__header-box" style="background: #3260A3;">
          <div class="modal__header">
            <p class="modal__header-mp">
              OZON МАРЧЕНКО
            </p>
            <p class="modal__header-number">
              44697769-0060-1
            </p>
          </div>
          <div class="modal__exit-box">
            <button class="modal__exit-btn btn">
              <img src="assets/img/exit.svg"> Закрыть заказ
            </button>
          </div>
        </div>
        <div class="modal__modals-box">

          <table class="table modal__table">
            <caption class="modal__table-title">
              Номера и статусы
            </caption>
            <tbody>
              <tr>
                <th scope="row">
                  <p class="modal__table-row-title">
                    № Заказа МП</p>
                </th>
                <td>
                  <p class="table__text">
                    44697769-0060-1
                  </p>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <p class="modal__table-row-title">
                    Статус МП</p>
                </th>
                <td>
                  <div class="modal__table-td-box">
                    <p class="table__text">
                      Ожидает отгрузки
                    </p>
                    <button class="modal__table-btn" style="background: #3260A3;">
                      Изменить
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <p class="modal__table-row-title">
                    № Внутренний</p>
                </th>
                <td>
                  <p class="table__text table__text-strong">
                    10248
                  </p>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <p class="modal__table-row-title">
                    Статус внутр</p>
                </th>
                <td style="background: #FFF3D3;">
                  <p class="table__text">
                    Перемещение
                  </p>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <p class="modal__table-row-title">
                    Статус доставки</p>
                </th>
                <td>
                  <div class="modal__table-td-box">
                    <p class="table__text">
                      Заявка создана
                    </p>
                    <button class="modal__table-btn" style="background: #3260A3;">
                      Обновить
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


          <table class="table modal__table">
            <caption class="modal__table-title">
              Сроки
            </caption>
            <tbody>
              <tr>
                <th scope="row">
                  <p class="modal__table-row-title">
                    Принят в обработку
                  </p>
                </th>
                <td class="table__danger">
                  <p class="table__text">
                    10 окт. 19:25
                  </p>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <p class="modal__table-row-title">
                    Дата отгрузки
                  </p>
                </th>
                <td>
                  <p class="table__text">
                    23 окт. 15:00
                  </p>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <p class="modal__table-row-title">
                    Дата доставки
                  </p>
                </th>
                <td>
                  <p class="table__text">
                    13 — 23 ноября
                  </p>
                </td>
              </tr>

            </tbody>
          </table>


          <div>
            <p class="modal__table-title">
              Вопросы складу
            </p>
            <div class="modal__table-chat-box">
              <table class="table modal__table modal__table--chat">
                <tbody>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Какой год шин?
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Кладовщик
                      </p>
                      <p class="table__text">
                        20236
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Спс
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Какой год шин?
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Кладовщик
                      </p>
                      <p class="table__text">
                        20236
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Спс
                      </p>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Какой год шин?
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Кладовщик
                      </p>
                      <p class="table__text">
                        20236
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Спс
                      </p>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>

            <form class="modal__table-chat-form" action="">
              <input type="text" style="border-color:#3260A3 ;">
              <button style="background:#3260A3 ;" class="modal__table-btn modal__table-btn--chat"
                type="submit">Написать</button>
            </form>
          </div>

          <div>
            <p class="modal__table-title">
              Лента
            </p>
            <div class="modal__table-chat-box">
              <table class="table modal__table modal__table--chat">
                <tbody>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Заказал перемещение
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Семеонова Е.
                      </p>
                      <p class="table__text">
                        Принял перемещение
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Написал комментарий "Вы все говно!"
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Какой год шин?
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Кладовщик
                      </p>
                      <p class="table__text">
                        20236
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Спс
                      </p>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Какой год шин?
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Кладовщик
                      </p>
                      <p class="table__text">
                        20236
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <p class="table__text">
                        02 окт 22
                      </p>
                      <p class="table__text table__text-strong">
                        10:36
                      </p>
                    </th>
                    <td>
                      <p class="table__text-strong">
                        Капралов А.Ю.
                      </p>
                      <p class="table__text">
                        Спс
                      </p>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>

            <form class="modal__table-chat-form" action="">
              <input type="text" style="border-color:#3260A3 ;">
              <button style="background:#3260A3 ;" class="modal__table-btn modal__table-btn--chat"
                type="submit">Написать</button>
            </form>
          </div>
        </div>

        <!-- САТАНА -->
        <div class="tab">
          <div class="tab__content" id="content-1">
            {% include "includes1.html" %}
            {% include "includes2.html" %}
          </div>
          <div class="tab__content" id="content-2">

            <div class="products__warehouse">


              <p class="modal__table-title">
                Склад отправки:
              </p>
              <p class="table__text products__warehouse-text" style="background: #EFBA87;">
                Ростов
              </p>
              <button class="modal__table-btn" style="background: #3260A3;">
                Изменить
              </button>

            </div>
            {% include "includes2.html" %}
            {% include "includes3.html" %}
          </div>
          <div class="tab__content" id="content-3">

            <!-- 1. начало -->
            {% include "includes4.html" %}
            {% include "includes5.html" %}



            <!-- 2. после нажатия на кнопку
            адресного расчета -->
            <p style="width: 100%; background:  #000; margin-bottom: 20px; color: #fff">после нажатия на кнопку
              адресного расчета</p>


            <div class="address-delivery">
              {% include "includes6.html" %}
            </div>


            <!-- 3. после выбора ТК -->
            <p style="width: 100%; background:  #000; margin-bottom: 20px; color: #fff">после выбора ТК</p>



            <div class="address-delivery">
              {% include "includes7.html" %}
            </div>



            <!-- 4. заявка подана -->
            <p style="width: 100%; background:  #000; margin-bottom: 20px; color: #fff">заявка подана</p>

            <div class="address-delivery">
              {% include "includes7.html" %}
              {% include "includes8.html" %}
            </div>

            <!-- 5. Доставка до ПВЗ  -->
            <p style="width: 100%; background:  #000; margin-bottom: 20px; color: #fff">Доставка до ПВЗ, этапы
              аналогичны (модалки отдельно)</p>

            <div class="address-delivery">
              {% include "includes9.html" %}
              {% include "includes10.html" %}
            </div>

            <!-- 6. Если службу дотавки нельзя выбрать (один из вариантов таблиц в зависимости от службы доставки)  -->
            <p style="width: 100%; background:  #000; margin-bottom: 20px; color: #fff">Если службу дотавки нельзя выбрать (один из вариантов таблиц в зависимости от службы доставки)</p>

            {% include "includes11.html" %}

          </div>
          <div class="tab__content" id="content-4">
            Содержимое 4... Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eaque iure debitis
            nostrum,
            vero ad totam ratione sequi! Suscipit, labore repellat cum soluta ullam dignissimos perspiciatis sequi rerum
            sapiente ex.
          </div>
          <div class="tab__nav" style="border-color: #3260A3;">
            <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
            <label class="modal__table-title" style="background: #3260A3; color: #fff;" for="tab-btn-1">Общая
              информация</label>

            <input id="tab-btn-2" name="tab-btn" type="radio" value="">
            <label class="modal__table-title" for="tab-btn-2">Товары и заказы</label>

            <input id="tab-btn-3" name="tab-btn" type="radio" value="">
            <label class="modal__table-title" for="tab-btn-3">Доставка</label>

            <input id="tab-btn-4" name="tab-btn" type="radio" value="">
            <label class="modal__table-title" for="tab-btn-4">Документы</label>
          </div>
        </div>


      </div>
    </section>

  </main>
</body>

</html>