.delivery
  &__subtitle
    font-size: 0.923rem
    text-transform: none
    padding-bottom: 10px
  &__box
    display: grid
    gap: 20px
    grid-template-columns: 1fr 1fr 3fr  
  &__box-pvz

  &__box-input
    display: flex
    flex-direction: column
  &__border-box
    display: grid
    grid-auto-flow: column
    gap: 20px
    align-items: start
    grid-template-columns: 1fr 3fr
  &__box-form
    display: flex
    gap: 10px
    padding-top: 2px
    flex-direction: column
    input
      border-radius: 5px
    button
      border-radius: 5px
      width: max-content
  &__radio-box
    display: flex
    align-items: center
    margin-bottom: 5px
    input
      width: auto
      margin-right: 5px
  &__radio-wrapper
    display: flex
    gap: 20px
  &__pvz-box
    display: grid
    grid-template-columns: repeat(2, auto)
    gap: 10px
    align-items: center
    p
      padding: 0
    button
      border-radius: 5px
  &__manually-box .modal__table-btn
    border-radius: 0 5px 5px 0

